body
{
    background-image: url("espace6.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
}
p,li,a,ul
{
    color: white;
    font-family: sans-serif;
} /* ecriture en blanche*/
h1,h2,h3
{
    color: red;
    font-family: sans-serif;
}/* titre en rouge*/
ul.ul2{
    background-color: black;
}